*{
    text-decoration: none;
    border: 0;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

a{
    text-decoration: none;
}

img{
    width: 100%;
    height: auto;
}

ul{
    list-style: none;
}

.barra{
    position: fixed;
    width: 100%;
    height: 70px;
    left: 0px;
    top: 0px;
    background: #F5751F;
}


.cabeca{
    height: 70px;
    width: auto;
    background-color:#F5751F ;
    z-index: 99;
    position:fixed;
}

.logo{
    position: absolute;
    width: 82px;
    height: 75px;
    left: 15px;
    top: -2px;
}

.pesq{
    position: absolute;
    width: 177px;
    height: 36px;
    left: 127px;
    top: 17px;
}

.home{
position: absolute;
width: 45px;
height: 41px;
left: 346px;
top: 17px;
}

.cad a{
    
    position: absolute;
    width: 200px;
    height: 31px;
    left: 447px;
    top: 23px;
    font-family: 'Assistant';
    font-weight: 900;
    font-size: 24px;
    line-height: 31px;
    color: #FFFFFF;
    
}

.cad2 a{
    position: absolute;
width: 99px;
height: 31px;
left: 631px;
top: 22px;

font-family: 'Assistant';
font-style: normal;
font-weight: 700;
font-size: 24px;
line-height: 31px;

color: #FFFFFF;
}

.line{
    
width: 70.02px;
height: 0px;
left: 1288px;
top: 69.01px;

border: 1px solid #FFFFFF;
transform: rotate(-88.98deg);
}

.pao{
    position: absolute;
    width: 1525px;
    height: 1184px;
    left: -82px;
    top: 16px;
    margin: 0;
    background: radial-gradient(50% 50% at 50% 50%, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.2) 18.89%, rgba(103, 52, 18, 0.2) 75.41%), url(.jpg);
    filter: blur(10px);

    
}

.pan{
position:relative;
align-items: center;
text-align: center;
top: 305px;

font-family: 'DM Serif Text';
font-style: normal;
font-weight: 400;
font-size: 28px;
line-height: 69px;
text-align: center;

color: #F5751F;

z-index: 97;

}

.bo{
    box-sizing: border-box;

position: absolute;
width: 587px;
height: 52px;
left: 460px;
top: 320px;

background: #673412;
border: 1px solid #000000;
filter: blur(45px);
border-radius: 66px;
}

.evento{
    position: absolute;
width: 1440px;
height: 950px;
left: 0px;
top: 783px;


background: #281406;
}

.titu{
    
    text-align: center;
    top:1000px;

font-family: 'DM Serif Text';
font-style: normal;
font-weight: 400;
font-size: 50px;
line-height: 69px;

color: #F5751F;
}

.texto{
    font-family: 'Antic Slab';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 48px;
text-align: center;

color: #FFC9A5;

}

.var{
    
    top: 70px;

    align-items:center;
    position: relative;
}

.texto2{
       
    
    font-family: 'Antic Slab';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 48px;
    text-align: center;
    margin-left: 80px;
    margin-right: 80px;
    margin-top: 170px;
    margin-bottom: 70px;
    
    color: #FFC9A5;
}

.clique{
color: #F5751F;
}

.local{
    position: absolute;
width: 1440px;
height: 833px;
left: 0px;
top: 1730px;

background: #F5751F;
    
    
    background: #F5751F;
}

.titu2 {
    
    text-align: center;
    top:1000px;

font-family: 'DM Serif Text';
font-style: normal;
font-weight: 400;
font-size: 50px;
line-height: 69px;

color: #4B2C2C;
}

.mapa{
    position: absolute;
width: 682px;
height: 604px;
left: 51px;
top: 170px;

}

.texto3{
       
    
    font-family: 'Antic Slab';
    font-style: normal;
    font-weight: 400;
    font-size: 23px;
    line-height: 48px;
    text-align:right;
    margin-left: 80px;
    margin-right: 150px;
    margin-top: 300px;
    margin-bottom: 70px;
    
    color: #4B2C2C;
    
}

.vetor{
    position: absolute;
width: 55px;
height: 50px;
left: 520px;
top: 1072px;
}

.vetor2{
    width: 64px;
height: 64px;
left: 531px;
top: 2218px;

}
